h1{
    text-align: center;
}
ul{
    box-sizing: border-box;
}
p{
    display: flex;
    flex-wrap: wrap;
}
.alert-info>a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hidden-on-desktop{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: lightblue;
    border: 1px solid grey;
    font-family: 'Work Sans', sans-serif;
}
ul.nav-links {
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header-img>img {
    display: flex;
    align-self: center;
    width: 305px;
    height: 224px;
}
.nav-links{
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/*a{*/
/*}*/
.nav-links li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 100%;
    margin-bottom: 1em;
    background-color: lightgray;
}
.header-img{
    display: flex;
}
.main{
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#social-media-links{

}

h1{
    display: flex;
    align-items: flex-start;
}
ul{
    box-sizing: border-box;
}
p{
    display: flex;
    flex-wrap: wrap;
}

.alert-info>a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden-on-desktop{
    /*display: flex;*/
    /*justify-content: center;*/
    /*box-sizing: border-box;*/
    /*background-color: lightblue;*/
    /*border: 1px solid grey;*/
    /*font-family: 'Work Sans', sans-serif;*/
}

ul.nav-links {
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header-img>img {
    display: flex;
    align-self: center;
    width: 305px;
    height: 224px;
}

.nav-links{
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/*a{*/

/*}*/
.nav-links li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 100%;
    margin-bottom: 1em;
    background-color: lightgray;
}

.header-img{
    display: flex;
}


.main{
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
