mark {
    background-color: #99ff99;
    color: #1969B2;
}

p {
   font-weight: bold;
   color: darkred;
}

body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: rebeccapurple;
}
ul.cir {
    list-style-type: circle;
}
ul.Sir {
    list-style-type: square;
}

ul.out {
    list-style-position: outside;
}

ul.in{
    list-style-position: inside;
}