mark {
    background-color: #99ff99;
    color: #1969B2;
}

p {
   font-weight: bold;
   color: darkred;
}

body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: rebeccapurple;
}
ul.cir {
    list-style-type: circle;
}
ul.Sir {
    list-style-type: square;
}

ul.out {
    list-style-position: outside;
}

ul.in{
    list-style-position: inside;
}

ol {
    background: #99ff99;
    padding: 20px;
}

ol li {
    background: magenta;
    padding: 5px;
    margin-left: 35px;
}

table, th, td {
    border: 2px blueviolet;
}

table {
    border-spacing: 55px;
}

th, td {
    text-align: center;
    padding: 50px;
}

table {
    background-color: mistyrose;
}

#q2 {
    border: 5px cornflowerblue;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}